/* Import d'une police moderne et élégante */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
    font-family: 'Poppins', sans-serif; /* Une police épurée et moderne */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

/* En-tête stylisé */
header {
    background: linear-gradient(90deg, #0072ff, #00c6ff);
    color: white;
    padding: 20px;
    font-weight: 600;
}
